<div class="row">
  <%= form_for(issue) do |f| %>
    <div class="col-md-12">
      <%= render 'shared/error_messages', object: f.object %>
    </div>
    <div class="col-md-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= f.label :impact %>
      <%= f.text_field :impact, class: 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= f.label :assigned %>
      <%= f.select :assigned_id, [[current_user.displayname, current_user.id]] + User.where.not(id: current_user.id).map{|u| [u.displayname, u.id]}, {include_blank: true}, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      <%= f.label :fired_time %>
      <div class="input-group datetime datepicker">
        <%= f.datetime_field :fired_time, class: 'form-control', value: params[:action] == 'new' ? '' : (issue.fired_time) %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <%= f.label :recovered_time %>
      <div class="input-group datetime datepicker">
        <%= f.text_field :recovered_time, class: 'form-control', value: issue.recovered_time.nil? ? '' : l(issue.recovered_time) %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <%= f.label :start_time %>
      <div class="input-group datetime datepicker">
        <%= f.text_field :start_time, class: 'form-control', value: issue.start_time.nil? ? '' : l(issue.start_time) %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <%= f.label :ending_time %>
      <div class="input-group datetime datepicker">
        <%= f.text_field :ending_time, class: 'form-control', value: issue.ending_time.nil? ? '' : l(issue.ending_time) %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="btn-group btn-group-responsive actions">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.button t(:reset), type: :reset, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
