<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t(:title) %></th>
      <th><%= t(:impact) %></th>
      <th><%= t(:fired_time) %></th>
      <th><%= t(:recovered_time) %></th>
      <th><%= t(:start_time) %></th>
      <th><%= t(:ending_time) %></th>
      <th><%= t(:author) %></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |i| %>
      <tr>
        <td><%= i.id %></td>
        <td><%= link_to i.title, i %></td>
        <td><%= i.impact %></td>
        <td><%= i.fired_time.in_time_zone.to_s %></td>
        <td><%= i.recovered_time.to_s %></td>
        <td><%= i.start_time.to_s %></td>
        <td><%= i.ending_time.to_s %></td>
        <td><%= link_to i.author.displayname, i.author %></td>
      </tr>
    <% end %>  
  </tbody>
</table>
