<% breadcrumb :issue, @issue %>
<div class="issue-detail">
  <div class="page-header">
    <span class="issue-title">#<%= @issue.id.to_s %> <%= @issue.title %></span>
    <div class="btn-group btn-group-sm pull-right">
      <%= button_tag class: "btn btn-default dropdown-toggle", "data-toggle": "dropdown" do %>
        <%= t(:actions) %>
        <%= content_tag :span, nil, class: "caret" %>
      <% end %>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to content_tag(:i, t(:edit), class: "glyphicon glyphicon-pencil"), edit_issue_path(@issue) %>
        </li>
        <li>
          <%= link_to content_tag(:i, t(:delete), class: "glyphicon glyphicon-trash"), @issue, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :impact %>: <%= @issue.impact %></p>
    </div>
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :author %>: <%= link_to @issue.author.displayname, @issue %></p>
    </div>
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :fired_time %>: <%= l(@issue.fired_time) %></p>
    </div>
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :recovered_time %>: <%= @issue.recovered_time.nil? ? t(:blank_field) : l(@issue.recovered_time) %></p>
    </div>
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :start_time %>: <%= @issue.start_time.nil? ? t(:blank_field) : l(@issue.start_time) %></p>
    </div>
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :ending_time %>: <%= @issue.ending_time.nil? ? t(:blank_field) : l(@issue.ending_time) %></p>
    </div>
  </div>
</div>
