<% breadcrumb :issue, @issue %>
<div class="issue-detail">
  <div class="page-header">
    <span class="issue-title">#<%= @issue.id.to_s %> <%= @issue.title %></span>
    <%= render 'actions', issue: @issue, additional_class: "pull-right", title: t(:actions) %>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p class="issue_field"><%= label @issue, :impact %>: <%= @issue.impact %></p>
    </div>
    <div class="col-sm-3">
      <p class="issue_field"><%= label @issue, :author %>: <%= link_to @issue.author.displayname, @issue.author %></p>
    </div>
    <div class="col-sm-3">
      <p class="issue_field"><%= label @issue, :assigned %>: <%= link_to @issue.assigned.displayname, @issue.assigned if @issue.assigned.present? %></p>
    </div>
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :fired_time %>: <%= l(@issue.fired_time) %></p>
    </div>
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :recovered_time %>: <%= @issue.recovered_time.nil? ? t(:blank_field) : l(@issue.recovered_time) %></p>
    </div>
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :start_time %>: <%= @issue.start_time.nil? ? t(:blank_field) : l(@issue.start_time) %></p>
    </div>
    <div class="col-sm-6">
      <p class="issue_field"><%= label @issue, :ending_time %>: <%= @issue.ending_time.nil? ? t(:blank_field) : l(@issue.ending_time) %></p>
    </div>
  </div>
</div>
